{% extends 'base.html' %}

   {% block título %}
      For You
   {% endblock %}    

{% block conteudo %}
<body class="text-center">

<!-- nao sei oq é mas nao funciona -->


<div style="margin-top: 150px;" class="container card">
        <form method="POST" enctype="multipart/form-data" class="form-signin" style="color:black">
            {{form.csrf_token}}
            {{form.nome.label()}}
            {{form.nome(class="form-control")}}
            <br>
            {{form.capa.label()}}
            {{form.capa(class="form-control")}}
            <br>
            {{form.banner.label()}}
            {{form.banner(class="form-control")}}
         <div class="left">
            {{form.btnSubmit(class="btn btn-primary btn-sm mt-3")}}
            </div>
      </form>
</div>
<style>
   .pd{ 
  padding-top: 50px;
}

.card {
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  width: 40%;
  height: 5%;
}


.container {
  margin-top: 50px;
  padding: 10px 20px 10px ;
}
.post {
   width: 600px; 
   height: 120px; 
   border-radius: 50px; 
}
.user {
   width: 60px; 
   height: 120px; 
}
   .right {
   position: absolute;
   left: 0px;

   }
   
body{
   background-image: url("../static/stardew1.png");   
   background-size: cover;      
}
</style>
<div class="vr"></div>

      
</body>

</div>
</div>
</body>
{% endblock %}