{% extends 'base.html' %}

   {% block título %}
      For You
   {% endblock %}    

{% block conteudo %} 


<body class="text-center">

<!-- nao sei oq é mas funciona -->
<div class="grid-container">
<div class="brutal"></div>
<div class="💔"></div>
<div class="container">
        <form method="post" enctype="multipart/form-data"  class="form-signin" style="color:whitesmoke"> 

            {{form.csrf_token}}
         
            {{form.mensagem.label()}}
            
            {{form.mensagem(class="form-control")}} 
   </div>
</form>

<div class="shadow-box" onclick="toggleDiv()">
   <img style="width: 23%;" src ="../static/image.png">
</div>

<div id="targetDiv" class="hidden-div" >
   {{form.img.label()}}
   {{form.img(class="form-control")}}
</div>

      <div class="vr" style="color:rgb(1, 23, 47);"></div>

    <center><table class="item">
      {% if posts != null %}
      <th>{% for post in posts %}
            
            <a class="post2" style="text-decoration: none; color:white;" href="/user/{{users[post.user_id-1].usuario}}">{{users[post.user_id-1].usuario}}</a>
               <div class="post BotLane ">
                  <a style="color:white; text-decoration: none;" href="/post/{{post.id}}">{{post.msg_resumo()}}</a>
                  {% if post.img != None %}
                  <div>
                  <center><img class ='postimg'src='../imagem/{{post.id}}'></center>
               </div>
                  
                  {% endif %}
               </div>
               <div>
               {{post.like_count()}}
               {% if post.isliked(current_user.id) != False %}
               <a href="/post/{{post.id}}/dislike">
               <input type="image" src ="../static/like.png">  </a>
                  
               {% else %}
               <a href="/post/{{post.id}}/like">
               <input type="image" src ="../static/deslike3.png"></a>
            
               {% endif %}
            </div>
         </div>
         <hr>
      {% endfor %}</th>
   {% endif %}
      </table></center>



<!-- side bar comunidades --> <!-- onde krl isso ta??? tipo real nao existe na mesma dimensao que a nossa -->
<div id="right-sidebar-container"
   <aside class="flex flex-col py-md box-border right">
      <aside class="bg-neutral-background-weak rounded-[8px] pb-2xs pt-xs mb-md" >

         <div class="center tras">
            <h3 class="w3-bar-item">Comunidades em alta</h3>
            <br>
            {% if qtd_comunidades >= 3 %}
            <img class='postcomuna'src='../comunidade/capa/{{comunidades[0].id}}'>
            <a href="/comunidade/{{comunidades[0].id}}" class="resumo  comunatxt w3-bar-item w3-button" style="color:white; text-decoration: none; z-index: -2;">{{comunidades[0].nome}}</a>
            <br>
            <br>
            <img class='postcomuna'src='../comunidade/capa/{{comunidades[1].id}}'>
            <a href="/comunidade/{{comunidades[1].id}}" class=" resumo w3-bar-item w3-button" style="color:white; text-decoration: none; z-index: -2;">{{comunidades[1].nome}}</a>
            <br>
            <br>
            <img class='postcomuna'src='../comunidade/capa/{{comunidades[2].id}}'>
            <a href="/comunidade/{{comunidades[2].id}}" class="  resumo w3-bar-item w3-button" style="color:white; text-decoration: none; z-index: -200;">{{comunidades[2].nome}}</a>
            {% elif qtd_comunidades == 2 %}
            <img class='postcomuna'src='../comunidade/capa/{{comunidades[0].id}}'>
            <a href="/comunidade/{{comunidades[0].id}}" class="resumo  comunatxt w3-bar-item w3-button" style="color:white; text-decoration: none; z-index: -2;">{{comunidades[0].nome}}</a>
            <br>
            <br>
            <img class='postcomuna'src='../comunidade/capa/{{comunidades[1].id}}'>
            <a href="/comunidade/{{comunidades[1].id}}" class=" resumo w3-bar-item w3-button" style="color:white; text-decoration: none; z-index: -2;">{{comunidades[1].nome}}</a>
            {% elif qtd_comunidades == 1 %}
            <img class='postcomuna'src='../comunidade/capa/{{comunidades[0].id}}'>
            <a href="/comunidade/{{comunidades[0].id}}" class="resumo  comunatxt w3-bar-item w3-button" style="color:white; text-decoration: none; z-index: -2;">{{comunidades[0].nome}}</a>
            {% elif qtd_comunidades == 0 %}

            {% endif %}
         </div>

      </aside>
   </aside>
</div>
</div>
<style>
   .left{
      left: 10px;
   }



   .volta{ 
  left: 10px;
}

.comunas{
   z-index: 1;
}

.BotLane {
   padding-bottom: 25px;
}
 .volta_comigo_camile{
   position: absolute;
   z-index: -1;
   background-color: rgb(0, 30, 58);
   border: 1px;
 }  

.tras{
   z-index: -1 !important ;
}

 .container {
   width: 600px; 
   height: 10px; 
   border-radius: 50px; 
   background-color: rgb(1, 23, 47); 
   padding-top: 30px;
}
.post {
   width: 550px; 
   height: 40%; 
   word-break: break-all;
   text-justify:auto;
}

.post2 {
   cursor: pointer;
   width: 600px !important;
   height: 50px;
   position: static  ;
}



.postimg {
   max-width: 500px;
   max-height: 500px;
   min-width: 200px;
   min-height: 200px;
}
.postcomuna {
   max-width: 70px;
   max-height: 70px;
   min-width: 70px;
   min-height: 70px;
   border-radius: 60px;
}

.resumo {
   overflow: hidden;
   word-wrap: break-word;
   word-break: break-all;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   height: 20px;
   width: 175px;
}

.comunatxt{
   text-transform: uppercase;
}

.user {
   width: 60px; 
   height: 120px; 
}
   .right {
   position: absolute;
   right: 1px;
   padding-right: 2%;
}  
   .brutal {
  border-left: 6px solid rgba(0, 0, 0, 0.518);
  height: 100%;
  position: fixed;
  left: 77%;
  margin-left: -3px;
  top: 0;
  z-index: -1;
}

.💔 {
  border-left: 6px solid rgba(0, 0, 0, 0.518);
  height: 100%;
  position:fixed;
  right: 77%;
  margin-left: -3px;
  top: 0;
  z-index: -1;
}

</style>

<!-- reddit algo pqp -->
<style>

   aside {
    display: block;
    unicode-bidi: isolate;
}

   .pt-xs {
    padding-top: .5rem;
}

   .pb-2xs {
    padding-bottom: .25rem;
}

   .bg-neutral-background-weak {
    background-color: var(--color-neutral-background-weak);
}

   .rounded-\[8px\] {
    border-radius: 8px;
}

.mb-md {
    margin-bottom: 1rem;
}



.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.py-md {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box-border {
    box-sizing: border-box;
}


.min-w-\[316px\] {
    min-width: 316px;
}

.w-\[316px\] {
    width: 316px;
}

.hidden {
    display: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body{
   zoom: 90%;
}
   
/* tentativa de grid 2*/

.grid-container {
  display: grid;
  grid-template-rows: 70px 100px 100px 100px 100px 100px;      
}

.item {
  border: 10px none #00f4bf;
  text-align: left;
  font-size: 1.25em;
  font-weight: normal;
}

/* ... que abre / que se foda o modal news */

.shadow-box {
   container: 100px;
   margin-top: 15px;
   margin-left: 350px;
   margin-bottom: 50px;
   padding-top: 5px;
   width: 10%;
   cursor: pointer;
}

.hidden-div {
   display: none;
   margin-left: 400px;
   margin-right: 400px;
   margin-bottom: 250px;
}

</style>
<script>
   function toggleDiv() {
       const div = document.getElementById('targetDiv');
       if (div.style.display === 'none' || div.style.display === '') {
           div.style.display = 'block';
       } else {
           div.style.display = 'none';
       }
   }
</script>
      
</body>

</div>
</div>
</body>
{% endblock %}