{% extends 'base.html' %}

   {% block título %}
      For You
   {% endblock %}    

{% block conteudo %}
<body class="text-center">
    <div class="container">
      <center><img class="mb-4" src ="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" style="width:200px"></center>
        <h1 class="h3 mb-3 font-weight-normal">
           Por favor, Faça o post
        </h1>
        <form method="POST" class="form-signin" style="color:whitesmoke">
            {{form.csrf_token}}

            {{form.mensagem.label()}}
            {{form.mensagem(class="form-control")}}

            {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
      </form>
    </div>

</body>
{% endblock %}