{% extends 'base.html' %}

    {% block título %}
        Post
    {% endblock %}  

{% block conteudo %}

<div class="brutal"></div>
<div class="💔"></div>

    <div class="row mt-4">

    </div>

    <div>
        <div>
            <a class="btn btn-lg china" href="{{url_for('ForYou')}}"> ⬅️</a>
            </div>
        <center><div class="container ">
            <div style="padding-top: 20px;"">
                <img class="pfp" src="/user/{{users[post.user_id-1].usuario}}/profile" alt="Foto de Perfil">
            <a class="post2" style="text-decoration: none; color:white; margin-right: 600px;" href="/user/{{users[post.user_id-1].usuario}}">{{users[post.user_id-1].usuario}}</a>
        </div>
            <div class="col-7 p-4 shadow b">
                        {{post.mensagem}}
                        {% if post.img != None %}
                        <img src='../imagem/{{post.id}}'>
                        {% endif %}
                    </div></center>
                    
        </div>
            <center><div class="heart">
                <br>
                {{post.like_count()}}
                {% if isliked != False %}
                <a href="/post/{{post.id}}/dislike">
                    <input type="image" src ="../static/like.png">  </a>
                    
                {% else %}
                <a href="/post/{{post.id}}/like">
                    <input type="image" src ="../static/deslike3.png"></a>
                {% endif %}
                </div>
                </div>
            
            <div class="col-6 mt-3 shadow p-3 ">
            <form action="" method="post" class="row p-3">
                {{form.csrf_token}}
                Comentar
                {{form.comentario(class="form_control")}}
    
                {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
            </form>
        </div></center>



            {% for c in post.comentarios %}

                <center><div class=" col-6 mt-4 border rounded shadow p-3 b">
                <!-- <b>Usuario: </b> --> <a style="color:white; text-decoration: none;" href="/user/{{users[c.user_id-1].usuario}}">{{users[c.user_id-1].usuario}}</a><br>
                <hr class="e">
                {{c.comentario}}

                </div></center>

            {% endfor %}
        </div>
    </div>

    <style>

.pfp {
   border: solid black;
   max-width: 60px;
   max-height: 60px;
   min-width: 60px;
   min-height: 60px;
   border-radius: 60px;
}
        .china{
           position: absolute;
        }

        .a {
      text-align: center;
}
        
        .b {
        text-align: left;
        word-break: break-all;
}
        
        .c {
        text-align: right;
} 
        
        .d {
        text-align: justify;
} 

        .e{
        width: 50px;

}
        .zec {
        color:white;
        text-decoration: none !important;
        }
        .no_meu_cu{
            box-shadow: 20px;
            color:green;
        }

        .brutal {
  border-left: 6px solid rgba(0, 0, 0, 0.518);
  height: 100%;
  position: fixed;
  left: 77%;
  margin-left: -3px;
  top: 0;
  z-index: -1;
}

.💔 {
  border-left: 6px solid rgba(0, 0, 0, 0.518);
  height: 100%;
  position:fixed;
  right: 77%;
  margin-left: -3px;
  top: 0;
  z-index: -1;
}

.likebolsonarista{
    left: 500px;
    position: absolute;
}

.heart{
    position: static;
    margin-right: 600px;
    width: 10%;
}
</style>


{% endblock %}