{% extends 'base.html' %}

{% block título %}
      Ususario
{% endblock %}

{% block conteudo %}

<div>
    <a class="btn btn-lg china" href="{{url_for('ForYou')}}"> ⬅️ </a>
</div>
<div >
    <img class="container-img" src='/user/{{user.usuario}}/banner'>
</div>
<div>
    <img style="position: absolute;" class="pfp" src='/user/{{user.usuario}}/profile'>
    <h1 style="border: solid;" src='/user/{{user.usuario}}/profile' class="wapol">{{ user.usuario }} {{ flwcount }} seguidores</h1>

</div>
    {% if current_user.is_authenticated %}
    <div class="">
        <small class="">     
            {% if user != current_user %}
                {% if follows != False %}
                <a class="btn btn-lg btn-danger" href="/user/{{user.usuario}}/unfollow">Unfollow</a>
                {% else %}
                <form method="POST" type="submit" style="color:whitesmoke">
                    {{ follow.btnSubmit(class="btn btn-lg btn-success" )}}
                </form>
                {% endif %}
            {% else %}
            <a  style="border: solid; padding-top: 100px;" class="btn btn-lg btn-danger" href="/user/{{user.usuario}}/changepfp">Mudar pfp</a>
            <a  style="border: solid; padding-top: 100px;" class="btn btn-lg btn-danger" href="/user/{{user.usuario}}/changebanner">Mudar Banner</a>
            {% endif %}
        </small>
    </div>
    {% endif %}
    
    <hr>
    {% if posts != null %}
        {% for post in posts %}
        <p>
            {{ user.usuario }}: <a style="word-break:break-all; word-wrap:break-word; color:white; text-decoration: none;" href="/post/{{post.id}}">{{ post.mensagem }}</a>
            {% if post.isliked(current_user.id) != False %}
            <a class="btn btn-lg btn-danger" href="/post/{{post.id}}/dislike">DISLIKE</a>
                  
            {% else %}
            <a class="btn btn-lg btn-danger" href="/post/{{post.id}}/like">LIKE</a>
            {% endif %}
            {{post.like_count()}}
        </p>
        {% endfor %}
    {% endif %}

<style>
 .china{
    right: 1px;
    top:50px;
    position: absolute;
 }

 .wapol{
    padding-left: 100px;
 }


 .container-img {
  max-width: 1600px;
  max-height: 400px;
  min-width: 1358px;
  min-height: 400px;
}

.pfp {
   border: solid ;
   max-width: 120px;
   max-height: 120px;
   min-width: 120px;
   min-height: 120px;
   border-radius: 60px;
}
</style>


{% endblock %}